@tailwind base;
@tailwind components;
@tailwind utilities;

li{
  cursor: pointer;
}

.logo:hover{
  color: rgb(95, 60, 223);
}

li:hover{
 color: rgb(95, 60, 223);
}

.hoverli:hover{
  color: rgb(255, 255, 255);
}

@media (max-width: 768px){
  .products-container{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    width: 450px;
  }

}